
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/Favicon.png">
    {% block stylesheets %}{% endblock stylesheets %}
    {% block scripts %}
    
    {% endblock scripts %}
</head>
<body>

	<div id = "wrapper">
	    <div id = "left-col">
	        {% block left-column %}{% endblock left-column %}
	    </div>

	    <div id = "right-col">
	        {% block right-column %}{% endblock right-column %}
	    </div>
	</div>
</body>
</html>