<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Boston Athletics Association</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id = "left-col">
        <div id = "Event-Search">
            <span id = "search"><input type = "text" placeholder = "Search Events"></span><br>
        </div>

        <div id = "Events">
            <ul>
                <li>Boston Marathon</li>
                <li>Half Marathon</li>
                <li>Distance Medley</li>
                <li>Boston 10K</li>
                <li>Boston 5K</li>
            </ul>
        </div>

        <div id = "New-Event">
            <button type = "submit"></button>
        </div>

    </div>

    <div id = "right-col">

    </div>

</body>
</html>