{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock stylesheets %}
    <span id = "Event-Search"><input type = "text" name = "Event-Search" placeholder = "Search Events"></span><br>
{% block left-column %}
    <div id = "Event-Search">
        <span id = "search"><input type = "text" placeholder = "Search Events"></span><br>
    </div>

    <div id = "Events">
        <ul>
            <li>Boston Marathon</li>
            <li>Half Marathon</li>
            <li>Distance Medley</li>
            <li>Boston 10K</li>
            <li>Boston 5K</li>
        </ul>
    </div>

    <div id = "New-Event">
        
    </div>
{% endblock left-column %}

{% block right-column %}

{% endblock right-column %}