{% extends "base.html" %}

{% load static %}

{% block scripts %}
    <script>
        window.token = "Token " + "{{token}}";
    </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        ent = JSON.parse('{{entries}}');
        window.onload = function() {
            window.document.body.onload = show_sorted(ent);
        }
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock scripts %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock stylesheets %}

{% block left-column %}
    <div id = "Events">
        <ul></ul>
    </div>

    <div id = "New-Event">
        <button type=submit onclick="add_event()"></button>
    </div>
{% endblock left-column %}

{% block right-column %}
<div id = "right-col-content-add">
	<div class = "new"> NEW </div>
	<div class = "ev"> EVENT </div> 
	<div id = "box">
		<input type = "text" id = "add-new_event" placeholder = "New Event" style="border:none; font-size: 3.3rem; width: 100%; text-align: center"><hr style="position:relative; top:-10px">
		<div class = "month">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span id = "add-m">Month </span>
					<span class="caret"></span>
				</button>
				<ul id="add-monthlist" class="dropdown-menu scrollable-menu" role="menu"></ul>
			</div>
		</div>
		<div class = "day">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span id = "add-d">Day </span>
					<span class="caret"></span>
				</button>
				<ul id="add-daylist" class="dropdown-menu scrollable-menu" role="menu"></ul>
			</div>
		</div>
		<div class = "year">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span id = "add-y">Year </span>
					<span class="caret"></span>
				</button>
				<ul id="add-yearlist" class="dropdown-menu scrollable-menu" role="menu"></ul>
			</div>
		</div>
		<div id = "add-upload">
			<label for="add-image">
				<input type="file" name = "image" id= "add-image" class= "file_upload" accept = ".csv" style="display:none;" onchange="check_file('add')">
				<img src= "/static/images/upload icon.png" alt="upload pic" style="">
			</label>
		</div>
		<div id = "add-up_vol">Upload Volunteer Profiles</div>
		<div id = "add-submit" onclick="get_new_event_info()">
			<img src= "/static/images/submit.png" alt="submit pic" style="">
		</div>
		</div>
	</div>
<div id = "right-col-content-view">
	<div class = "new"> PAST </div>
    <div class = "ev"> EVENT </div>
	<div id = "box">
		<div id = "close" onclick = "close_pop()"> x </div>
		<div id = "past_event" style = "text-align: center; font-size: 3.3rem; padding: 11px"></div>
		<hr style="position:relative; top:-10px">
    	<p id = "view-date"></p>
    	<div id = "view-upload">
    		<label for="view-image">
    			<input type="file" name="image" id= "view-image" style="display:none;">
    			<br>
    			<img src= "/static/images/download icon.png" alt="upload pic" style="">
    		</label>
    	</div>
    	<div id = "view-up_vol">
    		Download Volunteer Profiles
    	</div>
    </div>
</div>
<div id = "right-col-content-edit">
    <div id = "new"> EDIT </div>
    <div id = "ev"> EVENT </div>
	<div id = "box">
		<div id = "close" onclick = "close_pop()"> x </div>
		<input type = "text" id = "edit-new_event" style="border:none; font-size: 3.3rem; width: 100%; text-align: center">
		<hr style="position:relative; top:-10px">
		<div id = "month">
   			<div class="btn-group">
    			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id = "edit-m"></span><span class="caret"></span></button>
    			<ul id = "view-monthlist" class="dropdown-menu scrollable-menu" role="menu"></ul>
   			</div>
   		</div>
    <div id = "edit-day">
    	<div class="btn-group">
    		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id = "edit-d"></span>  <span class="caret"></span></button>
    		<ul id = "edit-monthlist" class="dropdown-menu scrollable-menu" role="menu"></ul>

    	</div>
    </div>
    <div id = "edit-year">
    	<div class="btn-group">
    		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id = "edit-y"><span>  <span class="caret"></span></button>
    		<ul id = "edit-yearlist" class="dropdown-menu scrollable-menu" role="menu"></ul></ul>
    	</div>
    </div>
    <br>
    <div id = "edit-upload"></div>
    <div id = "edit-up_vol">
		<span id = "file_name" style="margin-right: 20px"><a style="color: #4A4A4A"></a></span>
    	<span id="remove_upload" onclick="remove_upload()"><img src= "/static/images/remove_csv.png" alt="remove csv" style="height: 20px; width: 20px"></span>
    </div>
    <div id = "edit-submit" onclick="update_event_data('+ i +', ent)">
    	<img src= "/static/images/submit.png" alt="submit pic" style="">
    </div>
    </div>
	<button type="button" onclick = "delete_event(' + i +', ent)">delete</button>
</div>
{% endblock right-column %}