<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Boston Athletics Association</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div id = "left-col">
        <div id = "login-buttons">
            <span id = "Username"><input type = "text" name = "Username" placeholder = "Username"></span><br>
            <span id = "Password"><input type = "text" name = "Password" placeholder = "Password"></span><br>
        </div>

    </div>

    <div id = "right-col">
        <span id = "top-text">SIGN</span>
        <br>
        <span id = "bottom-text">IN</span>
    </div>

</body>
</html>