{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock stylesheets %}

{% block left-column %}
	<form name="LoginForm" action = "/login/" method="post">
	    <div id = "login-buttons">
	        <span id = "Username"><input type = "text" placeholder = "Username"></span><br>
	        <span id = "Password"><input type = "text" placeholder = "Password"></span><br>
	    </div>

	         <div id = "signin-button">
	            <button type = "submit"></button>
	        </div>

	    </div>
	</form>
{% endblock left-column %}

{% block right-column %}
    <span id = "top-text">SIGN</span>
    <br>
    <span id = "bottom-text">IN</span>
{% endblock right-column %}