back-end/env
*.pyc
*.sqlite3
__pycache__/
*.DS_Store
node_modules
.idea/
front-end/BAA/platforms/*/
back-end/static/*
!back-end/static/.gitkeep
back-end/file/sample_*
npm-debug.log
back-end/file/*
!back-end/file/sample.csv