body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.larger{
	width: 30% !important;
	height: -5% !important;
}
.largerB{
	font-size: 110% !important;
}
.hide{
	display:none;
}
#buttons-label{
	text-align:right;
}

.header_bar {
	background-color: #EB9493 !important;
	/*border-color: darken(#EB9493, 0%) !important;
	border: solid !important;
	border-width: 2px !important;*/
	border: none;
}

.title {
	color: white !important;
	font-family: frutigerLight;
	font-size: 25px !important;
}

@font-face {
	font-family: frutigerLight;
	src: url(/css/Frutiger_CE_45_Light.ttf);
}

.in_out {
	margin-right: 28px;
	margin-top: 100px !important;
	color: gray;
	padding: 10px;
}

.list .item {
	border: 0px;
}

.items_in_list {
	border: none;
}
