.popup-title{

	margin-left: 8%;
}

hr { 
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

input {
	border: 4px black;
	height: 150px;
}

.label{
	color: blue;
	margin-top: 0px;
}

div {
	padding: 0px;
	border: 25px;
}

.popup-body{

	margin-right: 8%;
	margin-left: 8%;
}