/* Empty. Add your own CSS if you like */

.inputs {
	width: 100%;
	padding-top: 339px;
	padding-left: 17%;
	padding-right: 17%;
	display:inline-block;
	float: center;
}

.item-input {
	border-radius: 25px;
	margin-bottom: 7px;
	opacity: 0.5;
}

.scroll-content {
	background-image: url("sign_in_background_1024.png");
	background-size: cover;
	/*position:relative;*/
}

#userpng {
	padding-top: 341px;
}

#lockpng {
	padding-top: 345px;
}