<!DOCTYPE HTML>
<html>
<head>
    <meta charset = "utf-8">
    <title>Guide</title>
    <link rel = "stylesheet" href = "../../interface/static/css/style.css">
    <link rel = "shortcut icon" type = "image/png" href = "../../interface/static/images/Favicon.png"> 
</head>

<body>
    <div id = "background">
        <div id = "guide-content">
            Welcome! This page provides instructions about how to access your BAA account. First, download our app for your mobile device. You should have received an email containing your username and password. This combination can be used to log into the app. 
        </div>
    </div>

</body>
</html>