@font-face {
    font-family: FrutigerCELight;
    src: url("../fonts/Frutiger CE 45 Light.ttf");
}

@font-face {
    font-family: FrutigerCERoman;
    src: url("../fonts/Frutiger CE 45 Light.ttf");
}

@font-face {
    font-family: FrutigerLTBoldCondensed;
    src: url("../fonts/Frutiger CE 45 Light.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#left-col {
    color: white;
    float: left;
    width: 33%;
    height: 100%;
    background-color: #EC9591;
    font-size: 2rem;
    font-family: FrutigerCELight;
}

#login-buttons {
    padding-top: 30.3rem;
    text-align: center;
}

::-webkit-input-placeholder {
   color: #F3F3F3;
}

:-moz-placeholder { /* Firefox 18- */
   color: #F3F3F3;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #F3F3F3;  
}

:-ms-input-placeholder {  
   color: #F3F3F3;  
}

#Username > input {
    background-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    outline: none;
    color: #F3F3F3;
    font-size: 2rem;
    width: 22.8rem;
    height: 4rem;
    padding-bottom: 1rem;
    font-family: FrutigerCELight;
    background: url("../images/signin1.png") no-repeat;
}

#Password > input {
    background-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    outline: none;
    color: #F3F3F3;
    font-size: 2rem;
    width: 22.8rem;
    height: 4rem;
    font-family: FrutigerCELight;
    background: url("../images/signin2.png") no-repeat;
}

#right-col {
    float: right;
    width: 66%;
    height: 100%;
    background: url("../images/BAALogo.png") no-repeat center;
    font-size: 12.5rem;
    font-family: FrutigerLTBoldCondensed;
    line-height: 175px;
}


#top-text {
    color: #ED9491;
    padding-left: .3rem;
    font-weight: bold;
}

#bottom-text {
    color: #EC7C79;
    padding-left: .3rem;
    font-weight: bold;
}