@font-face {
    font-family: FrutigerCELight;
    src: url("../fonts/Frutiger CE 45 Light.ttf");
}

@font-face {
    font-family: FrutigerCERoman;
    src: url("../fonts/Frutiger CE 55 Roman.ttf");
}

@font-face {
    font-family: FrutigerLTBoldCondensed;
    src: url("../fonts/Frutiger LT 67 Bold Condensed.ttf");
}

@font-face {
    font-family: FrutigerLTRoman;
    src: url("../fonts/Frutiger LT 55 Roman.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

#wrapper {
    height: 100%;
    width: 100%;

}

#left-col {
    color: white;
    float: left;
    font-size: 2rem;
    font-family: FrutigerCELight;
    top:0;
    bottom:0;
    position:fixed;
    overflow-y: scroll;
    overflow-x:none;
    background: url("../images/BAALOGO.png") center center no-repeat, linear-gradient(135deg, #035898 0%,#f1f442 88%,#035898 99%,#0a0809 100%);
    z-index:100000000000;
}

::-webkit-input-placeholder {
   color: grey;
}

@-webkit-keyframes autofill {
    to {
        color: #F3F3F3;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

:-moz-placeholder { /* Firefox 18- */
   color: #F3F3F3;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #F3F3F3;  
}

:-ms-input-placeholder {  
   color: #F3F3F3;  
}

#login-buttons {
    padding-top: 70%;
    text-align: center;
    padding-bottom: 45px;
}

#Username > input {
    background-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    outline: none;
    color: #F3F3F3;
    font-size: 2rem;
    width: 351px;
    height: 65px;
    padding-bottom: 1rem;
    font-family: FrutigerCELight;
    background: url("../images/signin1.png") no-repeat;
}

#Password > input {
    background-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    outline: none;
    color: #F3F3F3;
    font-size: 2rem;
    width: 351px;
    height: 65px;
    font-family: FrutigerCELight;
    background: url("../images/signin2.png") no-repeat;
}

#Events {
    min-height: 100%;    
    padding-bottom: 20%;
}

ul {
    padding-top: 12px;
    max-height: 80%;
    margin-left:-20px;
    font-family: FrutigerCERoman;
    font-size: 30px;

}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

li {
    padding-bottom: 8%;
    padding-top: 8%;
    font-family: FrutigerLTRoman;
}

#signin-button {
    text-align: center;
    padding-bottom: 10%;
}

#signin-button > button {
    background: url("../images/login.png") no-repeat center;
    border: none;
    height: 70px;
    width: 275px;
}

#right-col {
    display: block;
    background:white;
    width: 80%;
    height: 100%;
    padding-top: 9%;
    padding-left: 20%;
    font-size: 40px;
    font-family: FrutigerLTBoldCondensed;
}

#right-col-content-add, #right-col-content-view, #right-col-content-edit {
    display: none;
    width:70%;
    padding-right: 20%;
    float:right;

}

 #red-alert, #green-alert {
    display: none;
    font-size: 20px;
}

body {
    line-height: 20px !important;
    font-size: 1.7rem !important;
    background-color: white;
    text-align: center;
}

.month {
    width: 33%;
    float: left;
    margin-bottom: 2.3rem;
}

.day {
    width: 33%;
    float: left;
    margin-bottom: 2.3rem;
}

.year {
    width: 33%;
    float: left;
    margin-bottom: 2.3rem;
}

#add-up_vol {
    color: #4A4A4A;
    opacity: .60;
    font-size: 1.7rem;
}

#add-submit {
    margin-top: 4.6rem;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow: auto;
}

.btn-group > ul > li:hover {
    background-color: #F7F7F7;
}

.dropdown-toggle { 
    min-width: 100px; 
} 

.caret {
    color: white;
    position: absolute;
    left: 80%;
    top: 45%;
}

.btn-default {
    background-color: #9B9B9B !important;
}

#year_picker > .btn-group > .btn-default {
    background-color: #F0ABA6 !important;
    border: none;
    height: 40px;
    color: white;
    font-size: 20px;
}

#year_picker > .btn-group > ul > li {
    color: black;
}

#year_picker > .btn-group > ul > li:hover {
    background-color: #F7F7F7;
}

#add-m, #add-d, #add-y {
    color: white;
}

.past {
    min-width: 100px;
    background-color: #9B9B9B;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #CDCDCD;
}

#close {
    position: relative;
    margin-top: 10px;
    margin-right: -75px;
    top: -70px;
    float: right;
    color: #828080;
}

@media only screen and (max-width: 128000px) {
    #left-col {
        width: 450px;
        overflow-x: hidden;
    }

    #right-col {
        width: 100%;
    }

    #search > input {
        background-size: 350px 60px;
        width: 350px;
        height: 60px;
    }

    #signin-button {
        text-align: center;
        padding-bottom: 4%;
    }
}

#delete-button {
    background-color: #035898 !important;
    color: white;
    width: 250px;
    height: 60px;
    box-shadow: 5px 5px 2px #cacdd1;
    margin-bottom: 20px;
}

#gen-report-button {
    background-color: white !important;
    color: grey;
    width: 250px;
    height: 60px;
    box-shadow: 5px 5px 2px #cacdd1;
        margin-bottom: 20px;
}

#user-pass-button {
    background-color: white !important;
    color: grey;
    width: 250px;
    height: 60px;
    box-shadow: 5px 5px 2px #cacdd1;
        margin-bottom: 20px;
}

.btn.btn-default {
    font-size: 20px;
}

#name {
    font-size: 40px;
    margin-bottom: 10px;
}

#date {
    margin-bottom: 30px;
    color: grey;
    font-size: 20px;
}

ul {
    list-style-type: none;
   width: 100%;

}

li {
    width: 100%;
}

#new_event_butt {
    border: none;
    bottom: 20px;
    left: 85px;
    z-index: 1;
    position: fixed;
    display: block;
    margin: 0 auto;
 
}

#add-image {
    cursor:pointer;
}

#new_button {
    background-color: #035898 !important;
    background: none !important;

}

button:hover {
    cursor: pointer;
}

img:hover {
    cursor:pointer;
}

#events_list {
    z-index: 0;
}

#logo-image {
    height:80%;
    width: 50%;
    right:0;
    padding-right: 0;  
    padding-left: 23%;

}
#login-left {
    background: linear-gradient(135deg, #035898 0%,#f1f442 88%,#035898 99%,#0a0809 100%);
    min-height:100%;
}

#add-new_event {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 4.5rem;
    padding: 10px;
}

#background {
    padding-top: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(135deg, #035898 0%,#f1f442 88%,#035898 99%,#0a0809 100%);*/
}

body {
    background: linear-gradient(135deg, #035898 0%,#f1f442 88%,#035898 99%,#0a0809 100%);
}

#guide-content {
    height: 50%;
    width: 50%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-left: 25%;
    margin-top: 10%;
    padding-top: 20px;
    background-color: white;
    line-height: 30px;
}