body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
    background-repeat: round;
}

#vol {
	display: block;
	padding-top: 15px;
}

.larger{
	width: 70% !important;
	height: -5% !important;
}
.largerB{
	font-size: 110% !important;
	margin-right: 10px;
}
.hide{
	display:none;
}

#user-search{
	background-color: rgba(255, 255, 255, 0.25) !important;
	border-radius: 25px;
	border: none !important;
	padding-top: 0px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1px;
	margin-top: 10px;
}

#user-search > input {
	color: white !important;
}

#buttons-label{
	right: 90%;
	text-align:right !important;
}
#allign-right{
	margin-right: -40px !important;
	/*padding-right: px !important;*/
}
#user {
	text-decoration-color: white;
}

.header_bar {
	background-color: #025797 !important;
	/*border-color: darken(#EB9493, 0%) !important;
	border: solid !important;
	border-width: 2px !important;*/
	border: none;
	height: 135px;
}

#list-content {
	padding-top: 100px;
}

.title {
	padding-top: 10px;
	text-align: center !important;
	color: white !important;
	font-family: frutigerLight;
	font-size: 25px !important;
	height: 100% !important;
}

@font-face {
	font-family: frutigerLight;
	src: url(/fonts/Frutiger_CE_45_Light.ttf);
}

.in_out1 {
	margin-right: 13px;
	margin-top: 100px !important;
	color: gray;
	padding: 0px;
}

.list .item {
	border: 0px;
	margin: 10px;
	border-radius: 25px;
}


.button {
	background-color: #EDEDED;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
    margin-top: 11%;
    margin-bottom: 20px;
}

.items_in_list {
	border: none;

}

i {
	filter: brightness(0) invert(1);
}


input[type="search"]::-webkit-input-placeholder  {
	color: rgba(255, 255, 255, 0.5) 
}

input[type="search"]:-moz-placeholder  {
    color: rgba(255, 255, 255, 0.5) ;
}

input[type="search"]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) ;
}

input[type="search"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5) ;
}

#volunteer_comment {
	height: 25%;
    margin-top: 7% !important;

}

.my-custom-popup .popup{
        width: 90%;
}

.my-custom-popup .popup-buttons{
    border-top: 30px !important;
}

.my-custom-popup .popup-title{
    padding-top: 5% !important;
    font-size: 38px !important;
}

.my-custom-popup .popup-body{
    padding-top: -5% !important;
}

textarea {
    padding: 10px;
}