body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
    background-repeat: round;
}

.larger{
	width: 70% !important;
	height: -5% !important;
}
.largerB{
	font-size: 110% !important;
	margin-right: 10px;
}
.hide{
	display:none;
}
#buttons-label{
	right: 90%;
	text-align:right !important;
}
#allign-right{
	margin-right: -40px !important;
	/*padding-right: px !important;*/
}

.header_bar {
	background-color: #025797 !important;
	/*border-color: darken(#EB9493, 0%) !important;
	border: solid !important;
	border-width: 2px !important;*/
	border: none;
}

.title {
	color: white !important;
	font-family: frutigerLight;
	font-size: 25px !important;
}

@font-face {
	font-family: frutigerLight;
	src: url(/fonts/Frutiger_CE_45_Light.ttf);
}

.in_out1 {
	margin-right: 13px;
	margin-top: 100px !important;
	color: gray;
	padding: 0px;
}

.list .item {
	border: 0px;
	margin: 10px;
	border-radius: 25px;


}

.button {
	background-color: #EDEDED;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
    margin-top: 11%;
    margin-bottom: 20px;
}

.items_in_list {
	border: none;

}

#volunteer_comment {
	height: 25%;
    margin-top: 7% !important;

}

.my-custom-popup .popup{
        width: 90%;
}

.my-custom-popup .popup-buttons{
    border-top: 30px !important;
}

.my-custom-popup .popup-title{
    padding-top: 5% !important;
    font-size: 38px !important;
}

.my-custom-popup .popup-body{
    padding-top: -5% !important;
}

textarea {
    padding: 10px;
}