input[type="text"], input[type="password"] {
	color: white;
}

.inputs {
	width: 100%;
	padding-top: 270px;
	padding-left: 17%;
	padding-right: 17%;
}

.item-input {
	border: 0;
	border-radius: 25px;
	margin-bottom: 7px;
	background-color: rgba(255, 255, 255, 0.45);
}

.scroll-content {
	background-image: url("../img/app sign-in background.png");
	background-size: cover;
	/*position:relative;*/
}

#userpng {
	position: absolute;
	top: 281px;
	left: 70%;
}

#lockpng {
	position: absolute;
	top: 334px;
	left: 70%;
}

#login {
	display:inline-block;
	float: center;
	text-align: center;
	width: 100%;
	padding-left: 17%;
	padding-right: 17%;
	padding-top: 7%;
}

#user::-webkit-input-placeholder  {
    color:    white
}

#user:-moz-placeholder  {
    color:    white;
}

#user::-moz-placeholder {
    color:    white;
}

#user:-ms-input-placeholder {
    color:    white;
}

#pass::-webkit-input-placeholder {
    color:    white;
}
#pass:-moz-placeholder {
    color:    white;
}
#pass::-moz-placeholder {
    color:    white;
}
#pass:-ms-input-placeholder {
    color:    white;
}

